@charset "UTF-8";

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background: url(../imagens/radio-tv.png);
}

audio#musica {
    display: block;
    position: relative;
    left: 575px;
    top: 490px;
    width: 300px;
}

.video {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

video#filme01{
    margin: 0 0 10px 7px;
}

video#filme02{
    width: 350px;
    margin-top: -15px;
}